{% set title_attributes = title_attributes|default(create_attribute()) %}
{% set attributes = attributes.addClass(classes).setAttribute('role', 'navigation') %}

{# Label. If not displayed, we still provide it for screen readers. #}
{% if not configuration.label_display %}
  {% set title_attributes = title_attributes.addClass('u-sr-only') %}
{% endif %}

{% if attributes.id is defined and not empty %}
  {% set heading_id = attributes.id ~ '-menu'|clean_id %}
  {% set title_attributes = title_attributes.setAttribute('id', heading_id) %}
  {% set attributes = attributes.setAttribute('aria-labelledby', heading_id) %}
{% endif %}

<nav{{ attributes }}>
  {{ title_prefix }}
  {% if configuration.label is defined and not empty %}
    <h2{{ title_attributes }}>{{ configuration.label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
