{% set attributes = attributes.addClass([
  'u-bg-ochre',
]) %}

{% if css_style is defined %}
  <style>
    .tbm.animate .tbm-item > .tbm-submenu, .tbm.animate.slide .tbm-item > .tbm-submenu > div {
    {{ css_style }}
    }
  </style>
{% endif %}

{% set content %}
  {% if section == 'frontend' %}
    {% embed '@atoms/button/button.twig' with {
      attributes: create_attribute().setAttribute('type', 'button').addClass('tbm-button'),
      remove_default_classes: true,
    } only %}
      {% block content %}
        <span class="tbm-button-container">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
      {% endblock %}
    {% endembed %}
    <div class="tbm-collapse {{ block_config['always-show-submenu'] ? 'always-show':'' }}">
  {% endif %}
  {{ content }}
  {% if section == 'frontend' %}
    </div>
  {% endif %}
{% endset %}

{% include '@molecules/navigation/nav.twig' with {
  attributes: attributes,
  content: content,
} only %}

<script>
  {# Add the .tbm--mobile class before there is a chance for a flash of unstyled content. #}
  if (window.matchMedia("(max-width: {{ block_config['breakpoint'] }}px)").matches) {
    document.getElementById("{{ attributes.id }}").classList.add('tbm--mobile');
  }

  {# Add the .tbm--mobile-hide class if needed. #}
  {% if block_config['hide-mobile-menu'] %}
  document.getElementById('{{ attributes.id }}').classList.add('tbm--mobile-hide');
  {% endif %}

</script>
