{{ attach_library('mytheme/card') }}

{% set attributes = attributes|default(create_attribute()).setAttribute('data-url', url) %}
{% set body_attributes = body_attributes|default(create_attribute()) %}
{% set title_attributes = title_attributes|default(create_attribute()) %}
{% set text_attributes = text_attributes|default(create_attribute()) %}
{% set bg_colour = bg_colour|default('u-bg-neutral-grey') %}
{% set view_mode = view_mode|default('feature_card') %}

{% set is_event = type == 'event_opp' ? true:false %}
{% set is_scholarship = type == 'scholarship' ? true:false %}
{% set is_news = type == 'news' ? true:false %}
{% set is_speaker = type == 'speaker_counsellor' ? true:false %}
{% set is_featured = featured == '1' ? true:false %}
{% set is_media = type == 'media' ? true:false %}

{% set attributes = attributes.addClass([
  'card',
  'u-relative',
  'u-inline-block',
  'u-h-auto',
  featured ? 'u-bg-orange':bg_colour
]).addClass(classes) %}

{# When a card is rendered by a View, CSS grid layout is used, thus no width is required,
however, when rendered in a Block (like Features block), it requires a width as flex box is used. #}
{% if view_mode == 'feature_card' %}
  {% set attributes = attributes.addClass([
    'sm:u-w-[calc((100%-1.75rem)/2)]',
    'md:u-w-[calc((100%-1.75rem-2rem)/2)]',
    'lg:u-w-[370px]',
    'xl:u-w-[350px]',
    '2xl:u-w-[370px]',
    'u-items-stretch',
  ]) %}
{% endif %}

{% set body_attributes = body_attributes.addClass([
  'card__body',
  'u-p-6',
]) %}

{% set title_attributes = title_attributes.addClass([
  'card__title',
  is_speaker ? 'u-text-center':'',
]) %}

{% set text_attributes = text_attributes.addClass([
  'card__text',
  is_speaker ? 'u-text-center':'',
]) %}

{% set image %}
  {% include '@atoms/image/image.twig' with {
    src: image.src,
    alt: image.alt,
    title: image.title,
  } only %}
{% endset %}

<div{{ attributes }}>
  <div class="card__image u-relative">

    {% include '@atoms/link/link.twig' with {
      url: url,
      content: image,
      remove_classes: 'u-text-burnt-orange',
    } only %}

    {% if featured %}
      <div class="card__image u-absolute u-bottom-0 u-left-0">
        {% include '@atoms/tag/tag.twig' with {
          classes: ['u-absolute', 'u-bottom-0', 'u-left-0'],
          text: 'Featured'|t,
          featured: true,
        } only %}
      </div>
    {% endif %}
  </div>

  <div{{ body_attributes }}>

    <div{{ title_attributes }}>
      {% include '@atoms/heading/heading.twig' with {
        level: title_heading_level|default(4),
        content: title,
        url: url,
        new_window: new_window,
        remove_classes: 'u-text-burnt-orange',
      } only %}
    </div>

    {% if date %}
      <div class="card__date u-leading-tight u-mb-3.5 u-font-black u-text-sm">
        {% if is_scholarship %}
          <span class="u-font-bold">{{ 'Registration deadline: '|t }}</span>
        {% elseif is_event or is_news %}
          <span class="u-font-bold">{{ 'Date: '|t }}</span>
        {% endif %}
        {% include '@atoms/date/date.twig' with {
          datetime: datetime,
          date: date,
        } only %}
      </div>
    {% endif %}

    {% if body %}
      <div{{ text_attributes }}>
        {% include '@atoms/text/paragraph.twig' with {
          content: body,
        } only %}
      </div>
    {% endif %}

    {% if is_event %}
      {% if event_type %}
        <div class="card__tags u-mt-5">
          {% include '@atoms/tag/tag.twig' with {
            attributes: create_attribute().addClass([
              'u-mr-2',
            ]),
            text: event_type,
            border_colour: 'u-border-magenta',
          } only %}
        </div>
      {% endif %}
      {% for tag in tags %}
        {% include '@atoms/tag/tag.twig' with {
          attributes: create_attribute().addClass([
            'u-mr-2',
          ]),
          text: tag.label,
          url: tag.url,
          new_window: tag.new_window,
          border_colour: 'u-border-magenta',
        } only %}
      {% endfor %}
    {% endif %}

    {% if is_media and media_type %}
      <div class="card__tags u-mt-5">
        {% include '@atoms/tag/tag.twig' with {
          attributes: create_attribute().addClass([
            'u-mr-2',
          ]),
          text: media_type,
          border_colour: 'u-border-magenta',
        } only %}
      </div>
    {% endif %}

  </div>
</div>
